h3 { 
    text-align: center;
    color: red;
}
button {
    background-color: red;
    border: none;
    padding: 15px 32px;
    color: white;
}
.center {
    text-align: center;
    margin:0 auto;
    display:block;
    margin-top: 7px;
}